@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom green scrollbar for Tailwind v3 */
.scrollbar-green::-webkit-scrollbar {
    width: 7.5px;
}

.scrollbar-green::-webkit-scrollbar-track {
 background: linear-gradient(to bottom, #22c55e, #86efac); /* from-green-500 to-green-300 */
}

.scrollbar-green::-webkit-scrollbar-thumb {
    background-color: #f8c90b;
    /* yellow */
    border-radius: 10px;
}

.scrollbar-green::-webkit-scrollbar-thumb:hover {
    background-color: #e9bb32;
    /* darker yellow */
}
/* global CSS or a module */
.ql-toolbar, .ql-container { background-color: transparent; }
.ql-editor { color: #374151; } /* text-gray-700 */

